.heading > h3 {
    width: 80%;
    margin: auto;
    line-height: 1.5;
}
.icon-blue {
    color: blue;
  }
.goals{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.goal{
    display: flex;
    align-items: center;
    gap: 5px;

}
.sub-heading > p{
    color: blue;
}
.sub-heading {
    line-height: 0.5;
}