
body {
  @import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap');
  font-family: 'Assistant', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}
.container {
  padding-left:10% ;
  padding-right:10% ;
}
.btn {
  background:#FFEC05 ;
  padding: 14px 25px ;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  border: 0;
  outline: 0;
  color: black;

}

.heading {
    text-align: center;
    margin: auto;

}
.heading h3 {
    font-size: 50px;
}


.heading {
    text-align: center;
    margin: auto;

}
.heading h3 {
    font-size: 50px;
}
p{
    font-size: 18px;
    color: gray;
    margin-top: 10px;
}